/* ----- css comum a todas -------*/

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 69px;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.topo h1{
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

    color: #FFFFFF;
}  

/* ----- css da tela 1 -------*/

.conteudoTela_1 {
    width: 1068px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 69px auto;
}

.conteudoTela_1 img {
    width: 340px;
    height: 181px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    margin: 8px 8px;
}

.conteudoTela_1 h2{
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

    margin-top: 35px;
    margin-left: 8px;
}

.subtituloBotao {
    width: 348px;
    display: flex;
    justify-content: space-between;
}

.subtituloBotao ion-icon{
    margin-top: 30px;
    color: #EC362D;
    font-size: 30px;

    cursor: pointer;
}

.blocoQuizzes {
    
    display: flex;
    flex-wrap: wrap;
    
}

.caixaQuizz{
    position: relative;
}

.caixaQuizz h3{
    position: absolute;
    bottom: 15px;
    left: 18px;

    width: 301px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;


    color: #FFFFFF;
}

.caixaCriarQuizz {
    width: 1068px;
    height: 181px;

    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 75px 0 8px 8px;
}

.caixaCriarQuizz p {
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    word-break:normal;

    color: #B9B9B9;
}

.caixaCriarQuizz button {
    width: 151px;
    height: 40px;

    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    margin-top: 30px;
    cursor: pointer;
    color: #EC362D;

    font-size: 21px;
    line-height: 25px;
}

/* ----- css da tela 2 -------*/

.conteudoTela_2 {
    width: 100%;
    height: auto;
    margin: 69px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
        .titulo_quiz{
            width: 100%;
            height: 227px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
            background-position: center;
        }
                .titulo_quiz h1 {
                    font-size: 39px;
                    color: #FFFFFF;
                }
        
        .perguntaN {
            width: 760px;
            height: 675px;
            margin-top: 45px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            transition: all 500ms;     
        }
                .tituloPerguntaN{
                    width: 100%;
                    height: 135px;
                    background-color: #434CA0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                        .tituloPerguntaN h1 {
                            font-size: 23px;
                            font-weight: bold;
                            color: #FFFFFF;
                            text-align: center;
                        }
                .opcoesN {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                        .opcoesN div{
                            width: 333px;
                            height: 205px;
                            margin-top: 30px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            transition: all 500ms;
                        }
                        .opcoesN div:hover{
                            cursor: pointer;
                        }
                        
                        .opcoesN div:active{
                            transform: scale(0.9);
                        }
                        .opcoesN div img {
                            width: 100%;
                            height: 175px;
                        } 

                        .opcoesN div p {
                            font-size: 20px;
                            font-weight: 700;
                        }

                        .branquinho {
                            opacity: 0.4;
                        }
                        .acertou {
                            color: #009C22;
                        }
                        .errou {
                            color: #FF4B4B;
                        }
        .resposta {
            width: 760px;
            height: auto;
            margin-top: 45px;
            padding: 30px;
            display: flex;
            flex-direction: column; 
            margin-top: 30px;   
        }
                .tituloResultado{
                    width: 100%;
                    height: 135px;
                    background-color: #EC362D;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                        .tituloResultado h1 {
                            font-size: 23px;
                            font-weight: bold;
                            color: #FFFFFF;
                            text-align: center;
                        }
                .Resultado {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-top: 30px;
                }
                        .Resultado img {
                            width: 330px;
                            height: 270px;
                        }
                .textofinal{
                    width: 340px;
                    height: 270px;
                }

                        .textofinal p {
                            font-size: 19px;
                            font-weight: 700;
                            line-height: 25px;
                        }
        .reinicio {
            width: 260px;
            height: 50px;
            border-radius: 15px;
            background-color: #EC362D;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 500ms;
            margin-top: 40px;
        }
        .reinicio:hover{
            cursor: pointer;
        }
        .reinicio:active{
            transform: scale(0.8);
        }
                .reinicio h1 {
                    font-size: 21;
                    color: #FFF5F4;
                }
        .voltar{
            width: 200px;
            height: 50px;
            margin: 5px auto ;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 500ms;
            
        }
            .voltar p{
                font-size: 21;
                color: #818181;
                text-decoration: underline;
            }
            .voltar p:hover{
                cursor: pointer;
            }
/* ----- css da tela 3 -------*/
.conteudoTela_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-top: 69px;
    padding-top: 70px;
    background-color: #fafafa;
}
.conteudoTela_3 > p{
    font-size: 23px;
    font-weight: bold;
}
.informacoesdoquizz{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 256px;
    margin: 25px 0 85px 0;
    padding: 21px 18px 21px 18px;
    background-color: #FFFFFF;
}
.informacoesdoquizz input{
    width: 100%;
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;    
}
.informacoesdoquizz ::placeholder{
    color: #BABABA;
    font-size: 19px;
    font-style: italic;
}
.conteudoTela_3 button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: auto;
    padding: 0 50px 0 50px;
    height: 54px;
    color: #FFFFFF;
    font-size: 21px;
    background-color: #EC362D;
    border: none;
}
.boxcriacaoperguntas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: auto;
    row-gap: 24px;
    padding: 0 18px 0 18px;
    margin: 36px 0 81px 0;
    background-color: #FFFFFF;
}
.boxpergunta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
    row-gap: 14px;
    margin-top: 30px;
}
.boxpergunta input{
    height: 46px;
    width: 100%;
}
.boxpergunta p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
}
.pergunta , .respostacorreta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 155px;
    width: 100%;
}
.respostasincorretas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 450px;
}
.boxperguntafechado{
    height: 74px;
    width: 100%;
    background-color: blue;
}
/* --------- MOBILE -----------------*/
@media (max-width: 1100px) {
    .conteudoTela_1{
        width: 95vw;
    }
    .blocoQuizzes{
        width: 95vw;
        flex-direction: column;
    }
    .caixaCriarQuizz{
        margin-top: 30px;
        width: 95vw;
        margin-left: 0;
        margin-left: 0;
    }
    .informacoesdoquizz{
        width: 100%;
    }
    .conteudoTela_1 img {
        width: 95vw;
        margin-left: 0;
        margin-left: 0;
        }
/*-------------- mobile tela 2 -----------*/

    .titulo_quiz {
        height: 140px;
    }
    .titulo_quiz h1 {
        font-size: 19px;
    }
    .perguntaN {
        width: 100vw;
        height: auto;
        margin-top: 20px;
    }
    .tituloPerguntaN{
        height: 15vw;
    }
    .tituloPerguntaN h1{
        font-size: 19px;
    }
    .opcoesN div{
        width: 40vw;
        height: 35vw;
        margin-top: 10px;
    }
    .opcoesN div p{
        font-size: 13px;
        margin-top: 2vw;
    }
    .opcoesN div img{
        width: 100%;
        height: 100%;
    }
    .resposta {
        width: 375px;
        margin-top: 20px;
    }
    .tituloResultado{
        height: 88px;
    }
    .tituloResultado h1{
        font-size: 19px;
    }
    .Resultado{
        margin-top: 10px;
    }
    .Resultado img {
        width: 315px;
        height: 270px;
    }
    .textofinal{
        height: 120px ;
        margin-top: 10px;
    }
    .textofinal p{
        font-size: 17px;
        line-height: 20px;
    }
    .reinicio{
        margin-top: 10px;
    }

}

.escondido{
    display: none;
}