/* ----- css comum a todas -------*/

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

button:hover{
    cursor: pointer;
}
button:active{
    scale: 0.95;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 69px;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.topo h1{
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

    color: #FFFFFF;
    cursor: pointer;
}  

/* Tela de Loading */

.telaLoading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    z-index: 1;
}
.telaLoading h1{
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    
    color: #EC362D;
    
}

@keyframes ldio-3f4blomfbb5 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-3f4blomfbb5 div {
  left: 98.32499999999999px;
  top: 55.88999999999999px;
  position: absolute;
  animation: ldio-3f4blomfbb5 linear 1s infinite;
  background: #ec362d;
  width: 10.35px;
  height: 24.839999999999996px;
  border-radius: 5.175px / 5.464799999999999px;
  transform-origin: 5.175px 47.61px;
}.ldio-3f4blomfbb5 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9090909090909091s;
  background: #ec362d;
}.ldio-3f4blomfbb5 div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -0.8181818181818182s;
  background: #ec362d;
}.ldio-3f4blomfbb5 div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  animation-delay: -0.7272727272727273s;
  background: #ec362d;
}.ldio-3f4blomfbb5 div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.6363636363636364s;
  background: #ec362d;
}.ldio-3f4blomfbb5 div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  animation-delay: -0.5454545454545454s;
  background: #ec362d;
}.ldio-3f4blomfbb5 div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.45454545454545453s;
  background: #ec362d;
}.ldio-3f4blomfbb5 div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  animation-delay: -0.36363636363636365s;
  background: #ec362d;
}.ldio-3f4blomfbb5 div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.2727272727272727s;
  background: #ec362d;
}.ldio-3f4blomfbb5 div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  animation-delay: -0.18181818181818182s;
  background: #ec362d;
}.ldio-3f4blomfbb5 div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.09090909090909091s;
  background: #ec362d;
}.ldio-3f4blomfbb5 div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  animation-delay: 0s;
  background: #ec362d;
}
.loadingio-spinner-spinner-e3up0c2lne {
  width: 207px;
  height: 207px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-3f4blomfbb5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-3f4blomfbb5 div { box-sizing: content-box; }
/* generated by https://loading.io/ */

/* ----- css da tela 1 -------*/

.conteudoTela_1 {
    width: 1068px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 69px auto;
}

.conteudoTela_1 img {
    width: 340px;
    height: 181px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    margin: 8px 8px;
    transition: all 0.5s;    
}


.conteudoTela_1 h2{
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

    margin-top: 35px;
    margin-left: 8px;
}

.subtituloBotao {
    width: 348px;
    display: flex;
    justify-content: space-between;
    transition: width linear 0.2s;
}

.subtituloBotao ion-icon{
    margin-top: 30px;
    color: #EC362D;
    font-size: 30px;

    cursor: pointer;
}

.blocoQuizzes {  
    display: flex;
    flex-wrap: wrap;
}

.caixaQuizz{
    position: relative;
    transition: all 500ms;
}

.caixaQuizz:hover{
    cursor: pointer;
}

.caixaQuizz:active{
    scale: 0.9;
}

.caixaQuizz div{
    width: 340px;
    height: 181px;
    
    bottom: 12px;
    left: 8px;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0%) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    transition: width ease-out 0.3s;
}

.caixaQuizz h3{
    position: absolute;
    bottom: 15px;
    left: 18px;

    width: 301px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;


    color: #FFFFFF;
    word-break: break-all;
}


.caixaCriarQuizz {
    width: 1068px;
    height: 181px;

    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 75px 0 8px 8px;
    transition: width linear 0.2s;
}

.caixaCriarQuizz p {
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    word-break:normal;


    word-break: break-all;
}

.caixaCriarQuizz button {
    width: 151px;
    height: 40px;

    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    margin-top: 30px;
    cursor: pointer;
    color: #EC362D;

    font-size: 21px;
    line-height: 25px;
}

/* ----- css da tela 2 -------*/

.conteudoTela_2 {
    width: 100%;
    height: auto;
    margin: 69px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 500ms;
    position: relative;

}
        .titulo_quiz{
            width: 100%;
            height: 227px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
            background-position: center;
        }
                .titulo_quiz h1 {
                    font-size: 39px;
                    color: #FFFFFF;
                }
        
        .perguntaN {
            width: 760px;
            height: 675px;
            margin-top: 45px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            transition: all 500ms; 
                
        }
                .tituloPerguntaN{
                    width: 100%;
                    height: 135px;
                    background-color: #434CA0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                        .tituloPerguntaN h1 {
                            font-size: 23px;
                            font-weight: bold;
                            color: #FFFFFF;
                            text-align: center;
                        }
                .opcoesN {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                        .opcoesN div{
                            width: 333px;
                            height: 205px;
                            margin-top: 30px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            transition: all 500ms;
                        }
                        .opcoesN div:hover{
                            cursor: pointer;
                        }
                        
                        .opcoesN div:active{
                            transform: scale(0.9);
                        }
                        .opcoesN div img {
                            width: 100%;
                            height: 175px;
                        } 

                        .opcoesN div p {
                            font-size: 20px;
                            font-weight: 700;
                        }

                        .branquinho {
                            opacity: 0.4;
                        }
                        .acertou {
                            color: #009C22;
                        }
                        .errou {
                            color: #FF4B4B;
                        }
        .resposta {
            width: 760px;
            height: auto;
            margin-top: 45px;
            padding: 30px;
            display: flex;
            flex-direction: column; 
            margin-top: 30px;   
        }
                .tituloResultado{
                    width: 100%;
                    height: 135px;
                    background-color: #EC362D;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                        .tituloResultado h1 {
                            font-size: 23px;
                            font-weight: bold;
                            color: #FFFFFF;
                            text-align: center;
                        }
                .Resultado {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-top: 30px;
                }
                        .Resultado img {
                            width: 330px;
                            height: 270px;
                        }
                .textofinal{
                    width: 340px;
                    height: 270px;
                }

                        .textofinal p {
                            font-size: 19px;
                            font-weight: 700;
                            line-height: 25px;
                        }
        .reinicio {
            width: 260px;
            height: 50px;
            border-radius: 15px;
            background-color: #EC362D;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 500ms;
            margin-top: 40px;
        }
        .reinicio:hover{
            cursor: pointer;
        }
        .reinicio:active{
            transform: scale(0.8);
        }
                .reinicio h1 {
                    font-size: 21;
                    color: #FFF5F4;
                }
        .voltar{
            width: 200px;
            height: 50px;
            margin: 5px auto ;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 500ms;
            position: absolute;
            bottom: -50px;       
        }
            .voltar p{
                font-size: 21;
                color: #818181;
                text-decoration: underline;
            }
            .voltar p:hover{
                cursor: pointer;
            }
/* ----- css da tela 3 -------*/
.conteudoTela_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-top: 69px;
    padding-top: 70px;
    background-color: #fafafa;
}
.conteudoTela_3 > p{
    font-size: 23px;
    font-weight: bold;
}
.informacoesdoquizz{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 256px;
    margin: 25px 0 85px 0;
    padding: 21px 18px 21px 18px;
    background-color: #FFFFFF;
}
.conteudoTela_3 input{
    width: 100%;
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;    
}
.conteudoTela_3 ::placeholder{
    color: #BABABA;
    font-size: 19px;
    font-style: italic;
}
.conteudoTela_3 button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: auto;
    padding: 0 50px 0 50px;
    margin-bottom: 100px;
    height: 54px;
    color: #FFFFFF;
    font-size: 21px;
    background-color: #EC362D;
    border: none;
}
.conteudoTela_3 a{
    margin-top: -70px;
    text-decoration: none;
    color: #818181;
}
.boxcriacaoperguntas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: auto;
    row-gap: 24px;
    margin: 36px 0 81px 0;
    background-color: #FAFAFA;
}
.boxpergunta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 800px;
    width: 100%;
    row-gap: 14px;
    padding: 0 18px 27px 18px;
    background-color: #FFFFFF;
    transition: height ease-in 1s;
}
.boxpergunta input{
    height: 46px;
    width: 100%;
}
.boxpergunta p{
    font-weight: bold;
    font-size: 20px;
    margin-top: 18px;
}
.pergunta , .respostacorreta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    width: 100%;
}
.respostasincorretas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 450px;
}
.pergunta > div , .respostacorreta > div, .respostasincorretas > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 106px;
}
.boxperguntafechado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 100%;
    padding: 0 18px 0 18px;
    background-color: #FFFFFF;
    transition: all 1s;
}
.boxperguntafechado ion-icon{
    width: 26px;
    height: 23px;
    color: black;
}
.boxperguntafechado p{
    font-weight: bold;
    font-size: 20px;
    margin-top: 18px;
}
.boxcriacaoniveis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: auto;
    row-gap: 24px;
    margin: 36px 0 81px 0;
    background-color: #FAFAFA;
}
.boxcriacaoniveis p{
    font-weight: bold;
}
.boxnivel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 316px;
    width: 100%;
    row-gap: 14px;
    padding: 20px 18px 27px 18px;
    background-color: #FFFFFF;
    transition: height ease-in 1s;
}
.boxnivelfechado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 100%;
    padding: 0 18px 0 18px;
    background-color: #FFFFFF;
    transition: all 1s;
}
.caixaimgcriacao{
    width: 340px;
    height: 181px;
    margin: 30px 0 25px 0;
    position: relative;
}
.caixaimgcriacao img{
    width: 100%;
    height: 100%;
}
.caixaimgcriacao p{
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 19px;
    color: #FFFFFF;
}
/* --------- MOBILE -----------------*/
@media (max-width: 1100px) {
    .conteudoTela_1{
        width: 95vw;
    }
    .blocoQuizzes{
        width: 95vw;
        flex-direction: column;
    }
    .caixaCriarQuizz{
        margin-top: 30px;
        width: 95vw;
        margin-left: 0;
        margin-left: 0;
    }
    .caixaQuizz h3{
        width: 90vw;
    }
    .caixaQuizz div{
        width: calc(100% - 8px);
        height: calc(100% - 16px);
        
        bottom: 8px;
        left: 0;
    }
    .subtituloBotao{
        width: 95vw;
    }
    .informacoesdoquizz{
        width: 100%;
    }
    .conteudoTela_1 img {
        width: 95vw;
        margin-left: 0;
        margin-left: 0;
        }
/*-------------- mobile tela 2 -----------*/

    .titulo_quiz {
        height: 140px;
    }
    .titulo_quiz h1 {
        font-size: 19px;
    }
    .perguntaN {
        width: 100vw;
        height: auto;
        margin-top: 20px;
    }
    .tituloPerguntaN{
        height: 100px;
    }
    .tituloPerguntaN h1{
        font-size: 19px;
    }
    .opcoesN div{
        width: 40vw;
        height: 35vw;
        margin-top: 10px;
    }
    .opcoesN div p{
        font-size: 13px;
        margin-top: 2vw;
    }
    .opcoesN div img{
        width: 100%;
        height: 100%;
    }
    .resposta {
        width: 100vw;
        margin-top: 20px;
    }
    .tituloResultado{
        height: 88px;
    }
    .tituloResultado h1{
        font-size: 19px;
    }
    .Resultado{
        margin-top: 10px;
    }
    .Resultado img {
        width: 100%;
        height: 270px;
    }
    .textofinal{
        height: 80px ;
        margin-top: 10px;
    }
    .textofinal p{
        font-size: 17px;
        line-height: 20px;
    }
    .reinicio{
        margin-top: 10px;
    }

}

.escondido{
    display: none;
}